/* -- BODY AND ROOT -- */
:root {
    --bg-color: #FEF5ED;
    --light-color: #D3E4CD;
    --medium-color: #ADC2A9;
    --dark-color: #99A799;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- UNIVERSAL TAGS -- */
a {
    font-weight: bold;
    text-decoration: none;
    color: #334756;
    transition: border-bottom 100ms ease-in-out;
}

    a:hover {
        border-bottom: 3px solid #334756;
    }

.button {
    border: 3px solid var(--dark-color);
}

.button:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* -- LAYOUT TAGS -- */
nav, aside, article, footer, #banner, #logo, #login {
    padding: 10px;
    box-sizing: border-box;
}
#container {
    width: 1000px;
    height: 850px;
}

header {
    background-size: cover;
    height: 250px;
    display: flex;
}

#banner {
    background: url('cutedog.png') no-repeat top;
    background-color: var(--pr-color);
    width: 750px;
}

header div {
    width: 250px;
    display: flex;
    flex-direction: column;
}

#logo {
    background-color: var(--light-color);
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: var(--medium-color);
    height: 125px;
}

nav {
    background-color: var(--dark-color);
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}
nav a {
    line-height: 25px;
    width: 75px;
    text-align: center;
}

main {
    height: 600px;
    display: flex;
}
aside {
    background-color: var(--medium-color);
    width: 250px;
    height: 600px;
}
article {
    background-color: var(--light-color);
    width: 750px;
    height: 600px;
}

footer {
    background-color: var(--dark-color);
    height: 50px;
    text-align: center;
}